html p {
    margin: 0;
}
.col-3, .col-6, .col-7, .col-9 {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}
.col-3 {
    width: 32%;
}
.col-3-abs {
    width: 290px;
    display: inline-block;
}
.col-6-asb {
    width: 460px;
    display: inline-block;
    vertical-align: top;
}
.col-6 {
    width: 48.5%;
}
.col-7 {
    width: 51.5%;
}
.col-9 {
    width: 65%;
}
.container-resume {
    width: 1000px;
    margin: 0 auto;
}
.hide {
    display: none;
}
.hide a {
    text-decoration: initial;
    cursor: pointer;
}
.pmessage {
    position: relative;
}
.pmessage:hover .hide {
    position: absolute;
    display: block;
    top: 0px;
    right: 10px;
    font-size: 14px;
}
.project-detail .pmessage:hover .hide {
    top: 10px;
}
.w-experience-detail .pmessage:hover .hide {
    top: 30px;
}
.img-header {
    width: 1000px;
    height: 300px;
    margin-top: 50px; 
    background-image: url(/images/resume/Group.png);
}
.peasonal-image {
    width: 100px;
    height: 100px;
}
.img-header .content {
    font-family: Courier;
    display: inline-block;
    margin: 128px auto 0 334px;
    padding: 10px 0px;
    background: rgba(11,52,79,0.60);
    width: 313px;
    color: #fff;
    min-height: auto;
}

.content p {
    font-size: 12px;
    letter-spacing: 0;
    text-shadow: 0 2px 4px #000000;
    text-align: center;
}
.content strong {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 14px;
    text-shadow: initial;
}
.information-all, section {
    width: 100%;
    margin-top: 50px; 
}
.information-all, main > section, footer > section {
    padding: 0 35px;
}
.profession {
    padding-left: 20px;
}
.email {
    font-size: 17px;
}
.peasonal, item {
    display: inline-block;
}
.ensprience .item, .skill .item {
    padding-left: 20px;
}
.item ul {
    padding-left: 15px;
}
.lang {
    margin-top: 10px;
    padding-bottom: 20px;
}
.item .title {
    margin: 15px 0; 
    font-weight: bold;
    font-size: 16px;
    color: #022643;
    letter-spacing: 1.14px;
}
.item p, .item li, .item label {
    font-size: 14px;
    color: #022643;
    line-height: 24px;
}
.item label {
    font-family: Courier;
    background: #E4EEF6;
    padding: 0 3px;
    margin-right: 8px;
    letter-spacing: 0;
    border-radius: 2px;
    vertical-align: top;
    line-height: 23px;
    font-weight: normal;
}
.ensprience, .skill {
    border-left: 1px solid #9DAFBE;
}
section .title {
    position: relative;
    font-weight: bold;
    font-size: 26px;
    color: #022643;
    letter-spacing: 3px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
}
section .title.work {
    margin-top: 100px;
    margin-bottom: 30px;
}
section .title::after, section .title::before {
    position: absolute;
}
section .title::after {
    top: -15px;
    left: -5px;
}
section .title::before {
    top: -15px;
    left: 90px;
}
section .title.project::after {
    content: url(/images/resume/icon1.png)
}
section .title.work::after {
    content: url(/images/resume/icon3.png)
}
section .title.enducation::after {
    content: url(../image/icon5.png)
}
section .title.about-me::after {
    content: url(/images/resume/icon7.png);
    left: 10px;
}
section .title.project::before {
    content: url(/images/resume/icon2.png)
}
section .title.work::before {
    content: url(/images/resume/icon4.png)
}
section .title.enducation::before {
    content: url(/images/resume/icon6.png)
}
section .title.about-me::before {
    content: url(/images/resume/icon8.png)
}

.project-detail .col-3-abs {
    margin-top: 50px;
    vertical-align: top;
}
.project-detail-img {
    height: 66px;
}
.project-detail .col-3-abs:not(.endline) {
    margin-right: 20px;
}
.project-detail .button {
    width: 225px;
    display: block;
    background-image: linear-gradient(-130deg, #FFBA00 0%, #F7AB1C 100%);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0 auto;
    text-align: center;
    text-decoration:  none;
    font-size: 16px;
    color: #022643;
    letter-spacing: 1.14px;
    line-height: 3;
    z-index: 5;
}
.project-detail .link-to {
    position: relative;
}
.project-detail .link-to:hover .shadow {
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 45px;
    height: 50px;
    width: 200px;
    background: linear-gradient(180deg, rgb(255, 224, 198) 0%, #fff 100%);
    background: -moz-linear-gradient(180deg, rgb(255, 224, 198) 0%, #fff 100%);
    border-radius: 50%;
    filter: blur(10px);
}

.project-content {
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    padding: 20px;
    text-align: center; 
    z-index: 10;
}
.project-content p.project-title {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
    color: #022643;
    letter-spacing: 1.14px;
}
.project-content p.create-time {
    margin-top: 5px; 
    font-size: 14px;
    color: #767E84;
    letter-spacing: 1px;
}
.project-content p.decription {
    height: 180px;
    margin-top: 15px;
    text-align: initial;
    font-size: 14px;
    color: #022643;
    letter-spacing: 0;
    line-height: 24px;
}
.w-experience-content {
    border-bottom: 1px solid #D6DCE1;
    padding: 30px 0;  
}
.w-experience-content:last-child {
    border-bottom: none;
}
.w-experience-content .logo {
    width: 30%;
    text-align: center;
}
.w-experience-content .work-content {
    width: 69%;
}
.w-experience-content .logo, .w-experience-content .work-content {
    display: inline-block;
    vertical-align: top;
}
.company-logo {
    margin: 20px 0 0 20px;
    height: 120px;
}
.work-content p.create-time {
    font-size: 14px;
    color: #022643;
    letter-spacing: 1px;
}
.work-content p.job {
    font-weight: bold;
    font-size: 16px;
    color: #022643;
    letter-spacing: 1.14px;
    margin-bottom: 10px; 
}
.work-content p.key-word {
    margin-top: 10px; 
}
.enducation-detail {
    padding: 50px 0 30px 0; 
}
.enducation-detail .item {
    padding-left: 50px;
}
.enducation-title, .name {
    font-weight: bold;
    font-size: 16px;
    color: #022643;
    letter-spacing: 1.14px;
}
.peasonal-message {
    width: 60%;
    text-align: center;
    margin: 40px auto
}
.peasonal-message .name {
    margin: 10px 0;
}
.peasonal-message .contact {
    margin: 40px 0 20px 0;
}
.icon-container {
    margin-top: 15px; 
}
.icon-container .icon {
    margin-right: 30px;
}
.icon-container .icon:last-child {
    margin: 0;
}
.icon img {
    width: 30px;
    height: 30px;
}
.qr-image {
    width: 80px;
    height: 80px;
}
.contact .qrcode {
    border-right: 1px solid #CDD8E1; 
}
.contact p {
    letter-spacing: 1.43px;
} 
p.footer {
    text-align: center;
    font-size: 12px;
    color: #9A9A9A;
    letter-spacing: 1.22px;
    padding: 10px 0;
}